# D'CENT Wallet HID
SUBSYSTEM=="usb", ATTR{idVendor}=="2f48", ATTR{idProduct}=="2130", MODE="0666", GROUP="plugdev", TAG+="uaccess", TAG+="udev-acl", SYMLINK+="IoTrust%n"
KERNEL=="hidraw*", ATTRS{idVendor}=="2f48", ATTRS{idProduct}=="2130",  MODE="0666", GROUP="plugdev", TAG+="uaccess", TAG+="udev-acl"