sphinxcontrib-autoprogram>=0.1.5
sphinx>=3.2.1
sphinx_rtd_theme>=1.0.0
python-pkcs11>=0.7.0
cbor2>=5.4.6,<6.0.0
pyserial>=3.5
ecdsa>=0
mnemonic>=0
noiseprotocol>=0.3.1,<0.4.0
protobuf>=4.23.3,<5.0.0
pyaes>=1.6
semver>=2.13.0,<3.0.0
typing-extensions>=4.4